<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!--
        Used to specify the default location to expand packages.
        See: nuget.exe help install
        See: nuget.exe help update
    -->
    <!--<add key="repositoryPath" value="External\Packages" />-->

    <!--
        Used to specify default source for the push command.
        See: nuget.exe help push
    -->

    <!-- Proxy settings -->
    <!--<add key="http_proxy" value="host" />
    <add key="http_proxy.user" value="username" />
    <add key="http_proxy.password" value="encrypted_password" />-->
  </config>

  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>

  <!--
        Used to specify the default Sources for list, install and update.
        See: nuget.exe help list
        See: nuget.exe help install
        See: nuget.exe help update
    -->
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="Microservices private repository" value="http://slave.westeurope.cloudapp.azure.com/nuget/MicroservicesNugets/" />
  </packageSources>

  <!-- Used to store credentials -->
  <packageSourceCredentials />

  <!-- Used to disable package sources  -->
  <disabledPackageSources />

  <!--
        Used to specify default API key associated with sources.
        See: nuget.exe help setApiKey
        See: nuget.exe help push
        See: nuget.exe help mirror
    -->
  <apikeys>
    <add key="http://slave.westeurope.cloudapp.azure.com:7753/nuget/MicroservicesNugets/" value="7bgCE2dlt/Y4JJb++sJp8A==" />
  </apikeys>
</configuration>